<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico"/>

</head>
<body>


<!-- Navigation -->
<!--<div th:replace="fragments/general.html :: navigation"></div>-->
<div class="bg-light mt-1" th:fragment="header">
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col">
                <ul class="list-inline align-content-lg-start font-weight-bold">
                    <li class="list-inline-item"><img src="/img/img.png" alt="Image" style="width:50px;height:60px;">
                    </li>
                    <li class="list-inline-item"><a>Mediscreen</a></li>

                    <li class="list-inline-item"> <a href="/">Home</a>&nbsp;|&nbsp;
                    <li class="list-inline-item">  <a href="/patients">Patients</a>&nbsp;
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 order-lg-2 col-lg-9 px-0">
            <img src="/img/mediscreen-image.png" class="img-fluid"
                 alt="mediscreen-image" >
        </div>
        <div class="col-12 col-md-12 order-lg-1 col-lg-3 px-1 pt-2 text-center">

            <p>
            <h2 class="text-primary text-bold">We care.</h2><br>
            Mediscreen specializes in detecting risk factors for disease.
            Our screenings using predictive analysis of patient populations at
            an affordable cost.
            </p>
            <ul>
                <li>Are you a small or rural clinic or practice?</li>
                <li>Do you need screenings for heart disease or hypertension precursors?</li>
            </ul>
            <h4 class="text-primary text-bold">We have a solution for you.</h4>
        </div>

    </div>

</div>


<<!-- Footer -->
<div th:replace="fragments/general.html :: footer"></div>

<!-- JavaScript -->
<script src="/webjars/jquery/3.6.0/jquery.slim.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>