<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mediscreen</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="icon" type="image/png" href="/img/favicon.ico"/>
</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/general.html :: navigation"></div>



<div class="container">
  <form action="#" th:action="@{/noteUpdateForm/{id}(id=${patient.id})}" th:object="${patient}" method="post">
    <h2 class="mt-4">Patient Update</h2>
    <hr/>
    <!-- Form levels error messages here -->
    <div class="form-group row ">
      <div class="col-sm-8">
        <span class="text-danger"> </span>
      </div>
    </div>

    <!-- success message -->
    <div th:if="${param.success}">
      <div class="alert alert-info">You've successfully registered
        your patient!!
      </div>
    </div>

    <!-- error message -->
    <div>
      <div th:if="${param.error}">
        <div class="alert alert-danger">Invalid Patient!
        </div>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-sm-2 col-form-label">First name</label>
      <div class="col-sm-4">
        <input th:field="${patient.firstName}" type="text" class="form-control" placeholder="Mandatory">
      </div>
      <div class="col-sm-4">
        <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
      </div>
    </div>


    <div class="form-group row ">
      <label class="col-sm-2 col-form-label">Last name</label>
      <div class="col-sm-4">
        <input th:field="${patient.lastName}" type="text" class="form-control" placeholder="Mandatory">
      </div>
      <div class="col-sm-4">
        <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-sm-2 col-form-label">Date of birthday</label>
      <div class="col-sm-4">
        <input type="date"  th:field= "${patient.birthday}" class="form-control" placeholder="Mandatory" >

      </div>
      <div class="col-sm-4">
        <span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
      </div>
    </div>



    <div class="form-group row ">
      <label class="col-sm-2 col-form-label mr-0">Gender</label>
      <div class="col-sm-4">
        <input th:field="${patient.gender}" type="radio" name="gender" value="MALE" id="MALE"/> <label for="Male">Male</label>
        <input th:field="${patient.gender}" type="radio" name="gender" value="FEMALE" id="FEMALE"/> <label
              for="Female">Female</label>
      </div>
      <div class="col-sm-4">
        <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-4">
        <input th:field="${patient.address}" type="text" class="form-control" placeholder="Mandatory">
      </div>
      <div class="col-sm-4">
        <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" ></span>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-4">
        <input th:field="${patient.phone}" type="text" class="form-control" placeholder="Mandatory">
      </div>
      <div class="col-sm-4">
        <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="hidden" th:field="${patient.id}">
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a href="#" class="btn btn-danger" role="button"
           th:href="@{/patients}">Cancel</a>
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<div th:replace="fragments/general.html :: footer"></div>

<script src="/webjars/jquery/3.6.0/jquery.slim.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>