<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mediscreen</title>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="icon" type="image/png" href="/img/favicon.ico" />
</head>
<body>

<!-- Navigation -->
<!--<div th:replace="fragments/general.html :: navigation"></div>-->
<div class="bg-light mt-1" th:fragment="header">
  <div class="container">
    <div class="row pt-4 pb-3">
      <div class="col">
        <ul class="list-inline align-content-lg-start font-weight-bold">
          <li class="list-inline-item"><img src="/img/img.png" alt="Image" style="width:50px;height:60px;">
          </li>
          <li class="list-inline-item"><a>Mediscreen</a></li>

                <li class="list-inline-item"> <a href="/">Home</a>&nbsp;|&nbsp;
                <li class="list-inline-item">  <a href="/patients">Patients</a>&nbsp;


        </ul>

      </div>
    </div>
  </div>
</div>

<!-- success message -->
<div th:if="${param.success}">
  <div class="alert alert-info">You've successfully registered
    your patient!!
  </div>
</div>


<div class="container">
  <div class="row py-2">
    <div class="col-6">
      <h2>Patients listing</h2>
    </div>
    <div class="col-6 text-right">
      <a href="#" class="btn btn-success btn-lg" role="button"
         th:href="@{/patientForm}">Create patient</a>
    </div>
  </div>


  <table class="table">
    <thead class="thead-light">
    <tr>
      <th class="text-left">FirstName</th>
      <th class="text-left">LastName</th>
      <th class="text-left d-none d-md-table-cell">Birthday</th>
      <th class="text-left d-none d-md-table-cell">Gender</th>
      <th class="text-left d-none d-md-table-cell">Address</th>
      <th class="text-left d-none d-md-table-cell">Phone</th>
      <th class="text-left">Notes</th>
      <th class="text-left">Assessment</th>
      <th class="text-left">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
      <td th:text="${patient.firstName}"></td>
      <td th:text="${patient.lastName}"></td>
      <td th:text="${patient.birthday}" class="d-none d-md-table-cell"></td>
      <td th:text="${patient.gender}" class="d-none d-md-table-cell"></td>
      <td th:text="${patient.address}" class="d-none d-md-table-cell"></td>
      <td th:text="${patient.phone}" class="d-none d-md-table-cell"></td>

      <td>
      <a th:href="@{/patient/note/{id}(id=${patient.id})}" class="btn btn-info">Note</a>
      </td>

      <td>
        <a th:href="@{/patient/assess/{id}(id=${patient.id})}" class="btn btn-info">Assessment</a>
      </td>

      <td style="width: 15%" class="text-center">

        <a th:href="@{/patientUpdateForm/{id}(id=${patient.id})}" class="btn btn-info">Edit</a>
        <a th:href="@{/patientDelete/{id}(id=${patient.id})}" class="btn btn-danger">Delete </a>
      </td>

    </tr>
    </tbody>
  </table>

</div>

<!-- Footer -->
<div th:replace="fragments/general.html :: footer"></div>

<!-- JavaScript -->
<script src="/webjars/jquery/3.6.0/jquery.slim.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>