<!-- Navigation -->
<div class="bg-primary" th:fragment="navigation">
  <div class="container">
    <div class="row">
      <nav class="col navbar navbar-expand-lg navbar-dark bg-primary font-weight-bold">
        <a class="navbar-brand" href="/"> <img
                src="/img/img.png" width=50px height=60px alt="Site logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarContent" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li
                    th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
                    class="nav-item"><a class="nav-link" href="/">Home</a>
            </li>
            <li
                    th:classappend="${#httpServletRequest.getRequestURI() == '/patients' ? 'active':''}"
                    class="nav-item"><a class="nav-link"
                                        href="/patients">Patients</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>


<!-- PAGED -->
<nav aria-label="Page navigation" class="paging" th:fragment="paged">
  <ul class="pagination" th:if="${paged.page.totalPages > 1}">
    <li class="page-item"
        th:classappend="${!paged.paging.isPrevEnabled()? 'disabled' : ''}">
      <a class="page-link"
         th:href="@{'?pageNumber=' + ${paged.paging.pageNumber - 1}}"
         tabindex="-1">Previous</a>
    </li>
    <th:block th:each="item : ${paged.paging.getItems()}">
      <li class="page-item"
          th:classappend="${item.index == paged.paging.pageNumber? 'active' : ''}"
          th:if="${item.pageItemType.name() == 'PAGE'}">
        <a class="page-link"
           th:href="@{'?pageNumber=' + ${item.index}}"
           th:text="${item.index}">
        </a>
      </li>
      <li class="page-item disabled"
          th:if="${item.pageItemType.name() == 'DOTS'}"><a
              class="page-link" href="#">...</a></li>
    </th:block>
    <li class="page-item"
        th:classappend="${!paged.paging.isNextEnabled()? 'disabled' : ''}">
      <a class="page-link"
         th:href="@{'?pageNumber=' + ${paged.paging.pageNumber + 1}}">Next</a>
    </li>
  </ul>
</nav>


<!-- Footer -->
<div class="bg-light mt-5" th:fragment="footer">
  <div class="container">
    <div class="row pt-4 pb-3">
      <div class="col">
        <ul class="list-inline text-center font-weight-bold">
          <li class="list-inline-item"><a href="#">About us</a></li>
          <li class="list-inline-item">&middot;</li>
          <li class="list-inline-item"><a href="#">Privacy And
            Policy</a></li>
          <li class="list-inline-item">&middot;</li>
          <li class="list-inline-item"><a href="#">Terms and
            Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>